:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --timberwolf: hsla(210, 2%, 82%, 1);
  --cool-gray: hsla(263, 13%, 57%, 1);
  --chrysler-blue: hsla(257, 96%, 42%, 1);
  --columbia-blue: hsla(199, 68%, 88%, 1);
  --blue-violet: hsla(264, 67%, 52%, 1);

  background-color: var(--cool-gray);
  color: white;
}

a {
  /* font-weight: 500; */
  color: var(--chrysler-blue);
  text-decoration: inherit;
}

a:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 250px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--chrysler-blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: var(--columbia-blue);
  }

  a:hover {
    color: var(--chrysler-blue);
  }

  button {
    background-color: white;
    color: var(--chrysler-blue);
  }
}